/*CSS*/
html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    overflow: hidden;
    background: red;
}

#tree {
    width: 100%;
    height: 100%;
    background: #0f5807;
}

/* CSS để căn chỉnh đẹp mắt */
        .header-title {
            display: flex;
            align-items: center; /* Căn giữa theo chiều dọc */
            justify-content: center; /* Căn giữa trang */
            gap: 30px; /* Khoảng cách giữa rồng và chữ */
            margin-top: 5px;
            font-family: "Times New Roman", serif;
        }

        .header-title h1 {
            color: #fbff6a; /* Màu chữ vàng kim đậm cho hợp với rồng */
            font-size: 40px;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
        }

        /* Lật ngược con rồng bên phải để đối xứng */
        .dragon-right {
            transform: scaleX(-1);
        }
